*{
    font-family: 'Times New Roman', Times, serif;
}
.show__info{
    position: absolute;
    padding: 20px 30px;
    border-radius:7px;
    text-align: center;
    background:linear-gradient(45deg,#43cea2,#185a9d);
    margin: 0px 10%;
    margin-top: -100px;

    box-shadow:3px 5px 15px 5px rgba(0,0,0,0.5);
}

.show__info h2{
    margin-bottom: 20px;
    color: #fff;
    /* text-shadow:1px 0px #fff; */
    font-size: 35px;
    /* text-transform:capitalize; */
    letter-spacing: 1.2px;
}

.show__info p{
    color: #fff;
    font-size:19px;
    letter-spacing: 0.1px;
    text-transform: lowercase;
}

.show__info .first__paragraph{
    font-size:28px;
}